<head>
    <link href="/css/popup.css" rel="stylesheet" />
</head>
<div class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="icerik">
                <div class="sefer-bilgiler">
                    <div class="logo-noktalar">
                        <img src="https://www.biletall.com/img-v7/logolar/otobus/37.png" alt="" />
                        <span id="kalkis-varis"></span>
                    </div>
                    <span class="kalkis-saat"></span>
                    <div class="fiyat">
                        <span id="fiyat" style="font-weight: bold; font-size: 24px"></span>
                        <input type="button" value="Satın Al" />
                    </div>
                </div>
                <hr />
                <span class="otobus-ozellik-baslik">Otobüsün Özellikleri</span>
                <div class="otobus-ozellikler">
                    <div class="ozellik-sol">
                        <span><i class="fas fa-wifi"></i> İnternet</span>
                        <span> <i class="fas fa-plug"></i> 220 Volt Priz</span>
                        <span><i class="fas fa-tv"></i> TV (Genel)</span>
                        <span><i class="fab fa-usb"></i> Usb Giriş</span>
                    </div>
                    <div class="ozellik-sag">
                        <span><i class="fas fa-music"></i> Müzik Yayını(Koltuk)</span>
                        <span><i class="fas fa-desktop"></i> Koltuk Ekranı (10inç)</span>
                        <span><i class="fas fa-headphones"></i> Kulaklık</span>
                    </div>
                </div>
                <hr />
                <div class="sefer-guzergah">
                    <span class="sefer-guzergah-baslik">Kayseri Ankara (Aşti) Güzergahı</span>
                    <div class="kalkis-icerik">
                        <div class="kalkisNoktasi">
                            <span class="kalkis-span">Kalkış Noktası Adı</span>
                            <span id="kalkis-noktasi"></span>
                            <span id="varis-noktasi"></span>
                        </div>
                        <div class="kalkisSaati">
                            <span class="kalkis-span">Kalkış Saati</span>
                            <span class="kalkis-saat"></span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>