
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PnrHata</title>
</head>
<body>
    <h1 style="color: red"> Aradığınız PNR bulunamadı .</h1>
</body>
</html>
